.card {
    background: white;
    min-width: 600px;
    max-width: 600px;
    border-radius: 20px;
    padding: 20px 55px 30px;
    .title{
        text-align: center;
        font-family: 'REM', sans-serif;
    }
}