.taskTitle {
    font-family: 'REM', sans-serif;
    padding: 10px;
    background: #d5d5d5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    font-weight: bold;

    .title{
        padding-left: 10px;
    }
}
.titleInput{
    width: 75%;
    font: 1rem/1em 'REM', sans-serif;
    border:none;
    padding: 5px;
    background: none;
    box-shadow: 0 4px 0 -3px #3F72AF;

}
.input{
    width: 65%;
    font: 1rem/1em 'REM', sans-serif;
    border:none;
    padding: 5px;
    background: none;
    box-shadow: 0 4px 0 -3px #3F72AF;

}
.aboutTask {
    font-family: 'REM', sans-serif;
    background: #eeeeee;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    word-wrap: break-word;
    align-items: center;
    align-content: center;
}
.createTask{
    margin-bottom: 10px;
}
.saveButton {
    border: none;
    background: transparent;
    float: right;
}
.save {
    width: 35px;
    height: 35px;
    float: right;
    cursor: pointer;
}
.error{
    font-size: 15px;
    color: red;
    font-weight: bold;
}