body {
  background: #3F72AF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.card {
  background: white;
  min-width: 600px;
  border-radius: 20px;
  padding: 20px 55px 30px;
}
